/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1025px) {
    #store-slide .sub-head, #store-slide .subcribe-head {
        font-size: 1.5rem;
    }
    #store-slide .head {
        font-size: 4rem;
    }
    .one-image h4 {
        font-size: 3rem;
        margin-bottom: 0px;
    }

}
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .search-bar {
        font-size: 12px;
        border-radius: 15px;
    }
    .head-cat {
        font-size: 18px;
    }
    .sub-head-cat {
        font-size: 11px;
        line-height: 10px;
    }
    .subcribe-head-cat, .button-shop-cat {
        font-size: 8px;
    }
    .cate-title {
        font-size: 28px;
    }
    ul.cate-item {
        font-size: 12px;
    }
    .next-icon-outside {
        right: 0;
        top: -16%;
        padding-left: 0px;
    }
    .prev-icon-outside {
        right: 3%;
        top: -16%;
    }
    
    #product-1 .container .row, #product-2 .container .row, #blog .container .row {
        margin-top: 20px;
        font-size: 13px;
    }
    .icon-hover i {
        padding: 5px;
    }
    .tool-top-prod {
        font-size: 5px
    }
    .suport-content h4 {
        font-size: 4vw;
        margin: 0;
    }
    .suport-content span {
        font-size: 7px;
    }
    .label-sale, .label-hot, .label-new {
        font-size: 8px;
    }
    .adv-content {
        top: 19%;
    }
    .adv-head {
        font-size: 28px;
        margin-bottom: 25px;
    }
    .sub-adv-head {
        font-size: 80px;
    }
    .adv-subcribe {
        font-size: 12px;
        margin-top: 20px;
    }
    .shop-now {
        font-size: 8px;
    }
    .blog-title-slide {
        font-size: 10px;
    }
    
    .adv_2_content {
        top: 15%;
    }
    .adv2-head {
        font-size: 31px;   
    }
    .adv-sub-head {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .button-contact {
        font-size: 7px;
        padding: 3px 7px;
    }
    .letter-head {
        font-size: 18px;
    }
    .letter-sub-head {
        margin: 10px 0px;
        font-size: 8px;
    }
    .number-percent {
        font-size: 12px;
    }
    .email-input {
        font-size: 10px;
    }
    .button-subcribe {
        margin-top: 15px;
        font-size: 8px;
        padding: 3px 7px;
    }
    .line {
        padding: 15px 0px;
    }
    #footer {
        padding-top: 30px;
        font-size: 11px;
    }
    .store-head {
        font-size: 13px;
        font-weight: 700;
        padding-top: 38px;
    }
    .store-address {
        margin-top: 13px;
    }
    .link-item i {
        padding-right: 5px;
    }
    .link-item, .link-item-last {
        padding: 5px 0px;
    }
    .date-list {
        top: 5px;
    }
    
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 769px) {
    #slide-2 {
        margin: 30px 0 20px;
    }
    #slide-2 .container .row .col-md-4 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .slide2-content {
        left: 30%;
        top: 6%;
    }
    .prev-icon-outside, .next-icon-outside {
        top: -15%;
    }
    #support .container .row .col-md-4 {
        display: flex;
        justify-content: center;
    }
    #support .container .row .col-md-4:not(last-child) {
       margin-bottom: 10px;
    }
    .suport-content {
        left: 40%;
    }
    .suport-content h4 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .suport-content span {
        font-size: 14px;
    }
    .adv-head {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .sub-adv-head {
        font-size: 50px;
        line-height: 20px;
    }
    .adv-subcribe {
        font-size: 14px;
        margin-top: 11%;
    }
    .blog-title-slide {
        width: 60%;
        font-size: 11px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .adv2_letter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .letter-sub-head {
        font-size: 10px;
    }
    .button-subcribe {
        margin-top: 20px;
    }
    
    #footer .container .row  .col-md-4{
        text-align: center;
    }
    #support .container .row .col-md-6:last-child {
        margin: 10px auto 0px;
    }
    #blog .prev-icon-outside, #blog .next-icon-outside {
        top: -12%;
    }
/*    store*/
    #store-slide .sub-head, #store-slide .subcribe-head {
        font-size: 1rem;
    }
    #store-slide .button-shop {
        font-size: 0.6rem;
        margin-top: 0;
    }
    .filter-item .line-gray {
        display: none;
    }
    .filter-item:not(:first-child) {
         margin: 0; 
    }
/*    store*/
    #breadcrumb ul {
        font-size: .8rem;
    }
    .filter-item {
        font-size: 0.9rem;
    }
    .one-image {
        margin-bottom: 1rem;
    }
    .label-sale, .label-hot, .label-new {
        font-size: 12px;
    }
/*    about*/
    .about-sidebar ul {
        margin-top: 15%;
    }
    .client-one {
        top: 60%;
    }
    #about-content p, #about-content ul {
        font-size: .9rem;
    }
    #about-content .about-sidebar ul {
        font-size: .8rem;
    }
/*    contact*/
    .contact_slide_content .head {
        padding: 3rem;
    }
    #map {
        height: 15rem;
    }
    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 426px) {
    .slide_1_content {
        left: 20%;
        top: 20%;
    }
    .head {
        font-size: 6vw;
    }
    .button-shop {
        font-size: 2vw;
    }
    .head-cat {
        font-size: 5vw;
    }
    .sub-head-cat {
        font-size: 3.5vw;
    }
    .slide_2_img {
        width: 100%;
    }
    .cate-nav {
        padding: .5rem .5rem;
    }
    .line-gray {
        display: none;
    }
    .icon-menu-mobile i {
        font-size: 12px;
    }
    .subcribe-head-cat, .button-shop-cat {
        font-size: 2.5vw;
    }
    .cart-number {
        bottom: 4px;
        font-size: 9px;
        line-height: 7px;
    }
    ul.cate-item {
        font-size: 9px;
    }
    .button-shop {
        margin-top: 20px;
    }
    .slide2-content {
        left: 30%;
        top: 20%;
    }
    .cate-title {
        font-size: 20px;
    }
    .slash {
        margin: 0px 4px;
    }
    .prev-icon-outside, .next-icon-outside {
        top: -22%;
    }
    .prev-icon-outside {
        right: 5%;
    }
    .suport-content {
        width: 50%;
    }
    .suport-content h4 {
        font-size: 16px;
    }
    .adv-head {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .sub-adv-head {
        font-size: 35px;
        line-height: 20px;
    }
    .adv-subcribe {
        font-size: 8px;
        margin-top: 5px;
    }
    .adv-content {
        right: 30px;
    }
    .blog-title-slide {
        height: 20px;
        overflow: hidden;
        width: 70%;
    }
    .adv2-head {
        font-size: 20px;
    }
    .menu-mobile .container .row .icon-menu-mobile .slash {
        margin: 0px 15px;
    }
    .brand {
        padding: 0px 5px;
    }
    .adv_2_content {
        top: 10%;
        width: 75%;
    }
    #support .container .row .col-md-6:first-child {
        margin-bottom: 10px;
    }
    #support .container .row .col-md-6 {
        height: 70%;
    }
    #support .container .row .col-md-6 img {
        width: 100%;
        height: 70%;
    }
    .suport-content span {
        font-size: 3vw;
    }
    .suport-content {
        left: 45%;
        top: 19%;
    }
    .adv-subcribe {
        font-size: 3vw;
        margin-top: 15px;
    }
    .shop-now {
        font-size: 9px;
    }
    #advertise-2 .container .row .col-md-4 {
       margin: 10px 15px 0px; 
    }
    .letter-sub-head {
        font-size: 12px;
    }
    .icon-hover {
        padding: 0px 4px;
    }
/*    store*/
    .label-sale, .label-hot, .label-new {
        height: 8%;
    }
    #store-slide .sub-head, #store-slide .subcribe-head {
        font-size: .8rem;
    }
    #store-slide .head {
        font-size: 2rem;
    }
    #store-slide .slide_1_content {
        left: 0%;
        top: 3%;
    }
    #store-slide .button-shop {
        font-size: 0.5rem;
    }
/*    about*/
    .about_slide_content .sub-head {
        font-size: .8rem;
        margin-top: 0;
    }
    .about_slide_content .head {
        font-size: 1.5rem;
    }
    .about_slide_content .subcribe-head {
        font-size: .8rem;
    }
    .about-sidebar ul {
        margin-top: 30%;
    }
    
}
@media only screen and (max-width: 426px) {
/*    store*/
    #store-slide .head {
        font-size: 1.5rem;
    }
    .pro-list-head ul li i {
        font-size: 1rem;
    }
    .icon-list {
        padding: 0;
    }
    #get-ten h3 {
        font-size: 1.2rem;
    }
    #get-ten span {
        font-size: .9rem;
    }
/*product detail*/
    #store-content h3 {
        margin-top: 1rem;
    }
    .about-sidebar img {
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .about-sidebar ul {
        margin-left: 10%;
    }
    .client {
        height: 30rem;
    }
    .client-one {
        top: 50%;
    }
    .client-five {
        top: 40%;
    }
/*    contact*/
    .contact_slide_content .head {
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    #map {
        height: 10rem;
    }
    #contact-content h3 {
        font-size: 1.5rem;
    }
    #form-contact {
        margin-bottom: 1rem;
    }
}


